main {
    background: #E8E7EB;
}

#products {
    padding: 10px 0;
}

.product {
    max-width: 395px;
    margin: 0 auto;
}

.product__wrap-image {
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 2px 2px 8px #4E4848;
    overflow: hidden;
    position: relative;
    width: 80%;
}

.product__wrap-image:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 10px #FFFFFF;
}

.product__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.product__info {
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-left: 50%;
    position: relative;
    color: #FF7373;
    text-shadow: 0px 1.25px 1px #000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
}

.product__info:after {
    content: '';
    display: block;
    opacity: 0.8;
    background: #fff;
    width: 15%;
    height: 20%;
    position: absolute;
    top: -13%;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
}

.product__count__current {
    border: 0;
    background: #FBD6D7;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    width: 40%;
    outline: none;
}

.product__count__minus,
.product__count__plus {
    border: 0;
    background: none;
    font-size: 1.5em;
    outline: none;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    max-height: 100%;
    overflow-y: scroll;
}

.modal__content {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

.modal__wrapper-content {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
}

.modal__close {
    font-size: 20px;
    width: 10px;
    height: 25px;
    line-height: 20px;
    color: #FF7373;
    position: absolute;
    right: 5px;
    top: -3px;
    cursor: pointer;
}

.basket {
    color: #FF7373;
    text-shadow: 1px 1px 0 #000;
    padding: 5px;
}

.basket__header h2 {
    float: left;
}

.basket__image {
    border-radius: 50%;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    height: 55px;
    float: right;
}

.basket h2 {
    padding: 5px;
    font-size: 2em;
    margin: 0;
    line-height: 55px;
}

.basket__header,
.basket__products,
.basket__delivery {
    background: #E8E7EB;
    padding: 5px;
}